<h1 id="titulo-info" class="text-center text-white p-3 fw-bold"><b>[</b>Info<b>]</b></h1>
<form>
    <div id="div-info" class="container bg-black" style="max-width: 400px">
        <p class="pt-3 ps-2">Nombre:</p>
        <div id="nombre-info" class="ps-5">Fulanito de tal</div>

        <p class="pt-3 ps-2">Edad:</p>
        <div id="edad-cont-info" class="ps-5"><span id="edad-info">30</span> años</div>

    </div>
    <div id="botonera" class="text-end">
        <a href="/">
            <button type="button" class="btn m-3 bg-black text-white">//Volver..</button>
        </a>
    </div>
</form>