<div class="semi-centrado d-flex flex-column align-items-center mt-4">

    {{#if registros}}
    <h1 id="titulo-info" class="text-center text-white pb-3 fw-bold"><b>[</b>Info<b>]</b></h1>
    <form>
        <table class="table-bordered text-center" style="max-width: 400px;">
            <tr class="cabecera-tabla">
                <th>
                    Nombre
                </th>
                <th>
                    Edad
                </th>
                <th style="width: 80px;">
                    <i class="fa-solid fa-xmark"></i>
                </th>
            </tr>
            {{#each registros}}
            <tr class="text-white">
                <td>
                    {{this.nombre}}
                </td>
                <td>
                    {{this.edad}} años
                </td>
                <td class="pt-2 pb-0">
                    <input id="{{this._id}}" type="checkbox" style="height: 15px;">
                </td>
            </tr>
            {{/each}}
        </table>
        <div class="text-center">
        <button id="btn-eliminar" type="button" class="btn bg-black text-white m-0 p-0">XX Eliminar seleccionados XX</button>
        </div>
    </form>
    {{else}}
    <h1 id="titulo-info" class="text-center text-white pb-3 fw-bold">--No hay datos para mostrar--</h1>
    {{/if}}
    <a href="/" style="display: block;" class="text-center mt-2 p-0">
        <button type="button" class="btn bg-black text-white m-0 p-0">//Ingresar datos...</button>
    </a>
</div>