<div class="centrado">
    <h1 class="text-center text-white pb-3 fw-bold"><b style="color:crimson;">[</b>Error interno del servidor<b style="color: crimson;">]</b></h1>
    <p class="text-center text-white">{{error}}</p>
</div>