

body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
}

#div-contenedor {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#titulo-formulario b {
    color: deeppink;
}

#titulo-info b {
    color: aquamarine;
}

#div-formulario {
    height: 235px;

}

#div-formulario, #div-info {
    border: 3px solid;
    border-color: rgb(104, 104, 104);
    justify-self: center;
    width: 50%;
    min-width: 310px;
}

label {
    color: aquamarine;
}

#div-input {
    text-align: center;
}

input {
    border: none;
    border-bottom: 2px dotted;
    border-color: dimgrey;
    width: 90%;
    height: 30px;
}

input:focus {
    border: 3px solid;
    border-color:deeppink;
    height: 30px;
}

#btn-ver-datos {
    color:deeppink;
}

#div-info {
    padding-bottom: 30px;
}

p {
    color:rgb(164, 98, 225);
}

#nombre-info, #edad-cont-info {
    border-bottom: 2px dotted;
    border-color: dimgrey;
    margin: 0 20px;
    color: white;
}

@media (min-width: 500px) {
    #botonera {
        padding-right: 20%;
    } 
}

@media (min-width: 1000px) {
    #botonera {
        padding-right: 30%;
    } 
}
