

body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
}

.centrado {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.semi-centrado {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0%, -50%);
}

#titulo-formulario b {
    color: deeppink;
}

#titulo-info b {
    color: aquamarine;
}

#div-formulario {
    height: 235px;
    justify-self: center;
}

#div-formulario, table {
    border: 3px solid;
    border-color: rgb(104, 104, 104);
    min-width: 310px;
}

#div-formulario {
    width: 50%;
}

label {
    color: aquamarine;
}

#div-input {
    text-align: center;
}

input {
    border: none;
    border-bottom: 2px dotted;
    border-color: dimgrey;
    width: 90%;
    height: 30px;
}

input:focus {
    border: 3px solid;
    border-color:deeppink;
    height: 30px;
}

button:hover {
    color:deeppink !important;
}

.cabecera-tabla {
    color: rebeccapurple !important;
}
